# Archivos y directorios a ignorar en Docker
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

pip-log.txt
pip-delete-this-directory.txt
.git/
.gitignore
README.md
.DS_Store
.vscode/
*.egg-info/
.qodo/
test_app.py
